#!/bin/bash
. venv/bin/activate

MONGOURL="mongodb://localhost:27017/"

TWITTER_CONSUMER_KEY="ENTER_YOUR_KEY_HERE"
TWITTER_CONSUMER_SECRET="ENTER_YOUR_KEY_HERE"
TWITTER_ACCESS_TOKEN="ENTER_YOUR_KEY_HERE"
TWITTER_ACCESS_SECRET="ENTER_YOUR_KEY_HERE"

pip install pymongo
pip install tweepy

python miner.py

deactivate
